.globale_frame{
  width: 95%;
  margin: 0px auto;
  .frame_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #29394D;
    }
    .actions {
      display: flex;
      align-items: center;
      .action{
        display: flex;
        margin: 10px 0px 10px 10px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        background: #258fc8;
        color: #FFF;
        padding: 10px;
        cursor: pointer;
        i {
          margin-right: 5px;
        }
      }
    }
  }
  .frame_body {
    .matrix_viewer{}
    .pdf_viewer {
      padding: 60px 90px 96px;
      position: relative;
      background: #FFF;
      box-shadow: 0px 4px 10px 0px rgba(41, 57, 77, 0.10);
      overflow: hidden;
      font-family: 'Open Sans';
      height: 1590px;
      > img {
        position: absolute;
        opacity: 0.07;
        height: 400px;
        left: -250px;
        top: 40px;
      }
      .pdf_header {
        display: flex;
        justify-content: end;
        margin: 20px 0px 40px;
        > div {
          display: flex;
          flex-direction: column;
          justify-content: end;
        }
        .logo {
          justify-content: end;
          padding: 10px 0px 0px;
          img {height: 100px;}
        }
        .infos {
          text-align: end;
          padding: 0px 10px;
          .title {
            color: #2a8ec7;
            font-size: 20px;
            font-weight: 500;
            padding: 5px 0px;
            font-weight: 700;
            span {
              color: #1c2d57;
            }
          }
          .details {
            text-align: end;
            font-size: 14px;
          }
        }
      }
      .pdf_body {
        &_details {
          display: flex;
          justify-content: space-between;
          margin: 10px 0px;
          align-items: end;
          font-weight: 300;
          div {
            &:first-child {
              .info_set {
                label {
                width: 80px;
              }
            }
            }
          }
          .title {
            font-size: 46px;
            padding: 20px 0px 10px;
          }
          .info_set {
            display: flex;
            margin: 5px 0px;
            label {
              width: 170px;
              font-weight: 500;
            }
            span {
              width: 500px;
            }
          }
        }
        &_content {
          table {
            margin-top: 50px;
            width: 100%;
            tr{
              display: flex;
              height: 60px;
              &:first-child {
                border-width: 1px 0px;
                border-style: dashed;
                border-color: #000000;
              }
              &:nth-last-child(-n + 3) {
                border-width: 1px 0px 0px;
                border-style: dashed;
                border-color: #000000;
                height: 50px;
                td {
                  font-weight: 600;
                }
              }
              &:last-child {
                border-width: 1px 0px 1px;
                border-style: dashed;
                border-color: #000000;
              }
              td, th {
                width: 25%;
                text-align: start;
                display: flex;
                align-items: center;
                padding-left: 20px;
                &:first-child {
                  width: 35%;
                }
              }
              th {
                font-weight: 600;
              }
            }
          }  
          .remark {
            display: flex;
            justify-content: end;
            margin: 20px 0px 80px;
            > div {
              width: 308px;
              font-size: 14px;
              text-align: center;
              span {
                &:nth-child(2) {
                  font-weight: 600;
                }
              }
            }
          }
          .signe {
            position: absolute;
            bottom: 200px;
            left: 600px;
          }
        }
      }
      .pdf_footer {
        position: absolute;
        bottom: 0px;
        height: 90px;
        width: 93%;
        left: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: groove;
        border-width: 1px 0px 0px;

        span {
          margin-left: 10px;
          font-weight: 700;
        }
      }
    }
  }
}
              