.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-content {
  min-height: calc(100vh - 110px);

  .container {
    width: 88%;
    margin: 0 auto;
    padding: 10px 40px;
    margin-top: 20px;
    background: #f8f9fa;
    font-family: 'Roboto';
  }
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: local('Open Sans'), url(style/fonts/OpenSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('Open Sans'), url(style/fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 500;
  src: local('Open Sans'), url(style/fonts/OpenSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('Open Sans'), url(style/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('Open Sans'), url(style/fonts/OpenSans-Light.ttf) format('truetype');
}
