
.content {
  display: flex;
  .form {
    width: 30%;
    height: fit-content;
    border: 1px solid rgb(42, 142, 199, 0.6);
    margin: 20px 20px 20px 0px;
    border-radius: 5px;
    padding: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #6D7F92;
    background: #fff;

    .inputgroup {
      display: flex;
      flex-direction: column;

      label {
        color: #29394D;
        margin: 30px 0px 10px;
        span {
          color: #18A0FB;
          margin-left: 7px;
        }
      }

      input {
        height: 34px;
        background: #F8F9FA;
        border: 1px solid #B2BCC6;
        border-radius: 5px;
        padding: 10px;
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin:0;
        }
      }
    }
    button {
      border: 1px;
      width: 94px;
      height: 36px;
      margin-top: 20px;
      border-radius: 4px;
      margin-left: 220px;
      color: #FFFFFF;
      background: #18A0FB;
      box-shadow: 0px 4px 10px 0px #29394D1A;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      line-height: 12px;
      cursor: pointer;
    }

  }
  .list {
    width: 70%;
    margin-top: 11px;
    .tabs {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 15px;
      .tab {
        width: 94px;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 0px 4px;
        margin: 0px 15px 0px 0px;
        display: flex;
        justify-content: center;
        cursor: pointer;

        &:first-child {
          width: 84px;
          justify-content: flex-start;
        }

        span {
          height: 20px;
          font-size: 15px;
          margin-left: 5px;
          font-weight: 700;
          margin-right: 4px;
        }
      }
      .active {
        color: #2a8ec7;
        border-bottom: 2px solid #2a8ec7;
        font-weight: 700;
      }
    }
    .standard_list {
      height: 600px;
      overflow: scroll;
      .line_fetching {
        display: flex;
        background: #FFFFFF;
        border: 1px solid #F1F2F4;
        border-radius: 5px;
        margin-bottom: 10px;
        height: 112px;
        padding: 16px 26px;
      
        .infos {
          width: 450px;
          height: 100%;
          border-right: 1px solid #E1E4E8;
          padding-top: 5px;
          display: flex;
          align-items: center;

          &_header {
            width: 190px;
            height: 19px;
            margin-bottom: 7px;
            border-radius: 5px;
          }
        
          &_sub_header {
            width: 130px;
            height: 16px;
            margin-bottom: 5px;
            border-radius: 5px;
          }
        }
        .tags {
          width: 194px;
          display: flex;
          align-items: center;
          border-right: 1px solid #E1E4E8;
          .tag {
            height: 20px;
            margin: 0 auto;
            width: 146px;
            border-radius: 5px;
          }
        }
        .avatars {
          padding: 0px 20px;
          display: flex;
          align-items: center;
        
          .avatar {
            position: relative;
            width: 34px;
            height: 34px;
            border: 1px white solid;
            border-radius: 50%;
      
            &:nth-child(2) {
              z-index: 2;
              right: 10px;
            }
            &:nth-child(3) {
              z-index: 3;
              right: 20px;
            }
            &:nth-child(4) {
              z-index: 4;
              right: 30px;
            }
            &:nth-child(5) {
              z-index: 5;
              right: 40px;
            }
          }
        }
      }
      
      .no_data {
        text-align: center;
        margin: 4rem 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        font-family: Roboto;
        .title {
          font-size: 18px;
          font-weight: 600;
          line-height: 40px;
        }
        .subTitle {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          
        }
      }
      
      .gradiant {
        background-color: rgb(238, 238, 238);
        background-image: linear-gradient(
          90deg,
          rgb(238, 238, 238),
          rgb(245, 245, 245),
          rgb(238, 238, 238)
        );
        background-repeat: no-repeat;
        animation: 1.2s ease-in-out 0s infinite normal none running;
        animation-name: loading;
      }
    }
  }
}

.p-dialog .p-dialog-footer {
   padding: 0.7rem 1.5rem!important;
}
.p-button{
  .p-button-only-text {
    background: #FFF;
    color: #258fc8;
  }
  .p-button-text {
    background: #258fc8;
    color: #FFF;
  }
}

